html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p,
span {
    color: #000000;
}

h1 {
    color: #000000;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 22px;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.texto-preto {
    color: #000000;
}

.borda-preta {
    border: solid 1px #333;
}

button {
    background-color: #7ab829;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #6ea22c;
}

.informacoes,
.contato {
    margin: 0px 40px 40px 40px;
}
