<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <title>Cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/Style.css" />
</head>

<body>
  <div class="container">
    <div class="content">
      <!--FORMULÁRIO DE CADASTRO-->
      <div id="login">
        <form method="post" action="">
          <h1>Cadastro</h1>
          <p>
            <label for="nome_cadastro">Nome completo</label>
            <input id="nome_cadastro" name="nome_cadastro" required="required" type="text" />
          </p>

          <p>
            <label for="emailcadastro">Email</label>
            <input id="emailcadastro" name="emailcadastro" required="required" type="email" />
          </p>

          <p>
            <label for="senha_cadastro">Senha</label>
            <input id="senha_cadastro" name="senha_cadastro" required="required" type="password" />
          </p>

          <p>
            <label for="senhaconfirm_cadastro">Confirme sua senha</label>
            <input id="senhaconfirm_cadastro" name="senhaconfirm_cadastro" required="required" type="password" />
          </p>

          <p>
            <input type="submit" name="submit_button" value="Cadastrar" />
          </p>

        </form>
        <p class="link">
          Já tem uma conta?
          <a href="/" name="submit_button">Logar</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>