<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitas</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="conteudo-destaque">
        <div class="menu">
            <form method="post">
                <button type="submit" name="button_menu" value="add_visita" class="button-add button-colorwhite">Adicionar visitas</button>
                <button type="submit" name="button_menu" value="signout" class="button-add button-colorwhite">Sair</button>
            </form>

        </div>
        <div class="informacoes">

            
            <h1>Envie a sua avaliação</h1>
            <p>O jeito certo de receber as avaliações dos seus alunos.</p>

            <form method="post" action="">
                <select id="select_visita" name="select_visita" value="" class="borda-preta" required>
                    <option value=""></option>
                    {% if visitas %}
                    {% for visita in visitas %}
                    <option value="{{visita.id}}">{{visita.descricao}}</option>
                    {% endfor %}
                    {% endif %}
                </select>

                <textarea class="borda-preta" id="comentario" name="comentario"
                    placeholder="Preencha aqui o seu sentimento sobre a visita" required></textarea>
                <button type="submit" class="borda-preta button" name="button_menu" value="submit">ENVIAR</button>
            </form>

            <table>
                <caption>Avaliaçoes de visitas</caption>
                <thead>
                    <tr>
                        <th scope="col">Data da visita</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Avaliações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visita in visitas %}
                    <tr>
                        <td data-label="Data">17/10/2022</td>
                        <td data-label="Descricao">{{visita.descricao}}</td>
                        <td data-label="Professor">{{visita.professor}}</td>
                        <td data-label="Comentario">{{visita.media_str}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>