<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitas</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="conteudo-destaque">
        <div class="informacoes">
            <h1>Sistema de avaliação</h1>
            <p>O jeito certo de receber as avaliações dos seus alunos.
            <p>

            <form method="post" action="">
                <select id="select_visita" name="select_visita" value="" class="borda-preta" required>
                    <option value=""></option>
                    {% if visitas %}
                    {% for visita in visitas %}
                    <option value="{{visita.id}}">{{visita.descricao}}</option>
                    {% endfor %}
                    {% endif %}
                </select>

                <textarea class="borda-preta" id="comentario" name="comentario" placeholder="Preencha aqui o seu sentimento sobre a visita" required></textarea>
                <button type="submit" class="borda-preta" name="button_enviar" value="submit_button">ENVIAR</button>
            </form>
        </div>
    </div>
</body>

</html>